00work/
zig_imguizmo1/
*.lib
.gitx/
src/libc/imgui/examples/
imgui_impl_null.*
examples/zig_webgl_wasm/
example_null/
examples/sdl3_opengl3/SDL3.dll
zig-pkg/
clibx/
raylibx/
*.new
*.org
*.org.zig
src/libc/imgui/examples/example_sdl3_vulkan_simple
examples/zig_sdl3_vulkan/
setenv.bat
*.mp4
src/libc/libcimgui.a
.ccache
GPATH
GRTAGS
GTAGS
00*/
ImageSaved*
zig-out/
.zig-out/
zig-cache/
.zig-cache/
/**/setenv.bat
/**/.nimcache
.hg
.git
build/
.build/
.idea
.vscode
__pycache__
TestCode
venv
Test.h
*.o
*.exe
libs/glfw/glfw-3.3.9.bin.WIN32/docs
libs/glfw/glfw-3.3.9.bin.WIN32/*.md
libs/glfw/glfw-3.3.9.bin.WIN64/docs
libs/glfw/glfw-3.3.9.bin.WIN64/*.md
*.html
*.js
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
